

.app {
  background-color: #282c34;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app .form {
  background-color: #ffff;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.app .form .doc {
  height: 2rem;
  display: flex;
  margin: 1.5rem 0;

}

.app .form .doc select {
  width: 30%;
  height: 2.2rem;
}

.app .form .doc input {
  width: 70%;
  height: 100%;
  padding: 0;
}

.app .form .doc input::-webkit-outer-spin-button,
.app .form .doc input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

.app .form button {
  background-color: #282c34;
  color: #ffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.app .form .data {
  text-align: justify;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
